.sources {
  position: relative;
}
.sources__container {
  width: 250px;
  height: 75vh;
  overflow: auto;
  font: 300 1em 'Fira Sans', sans-serif;
  display: flex;
  flex-direction: column;
  padding-right: 5px;
  padding-top: 4px;
}
.sources__container::-webkit-scrollbar {
  width: 6px;
  box-shadow: -5px -5px 5px -5px rgba(#fff, 0.7) inset;
  border-radius: 8px;
}
.sources__container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: linear-gradient(#70d6ff, #30c5ff);
}
.sources__search {
  background: #17181c;
  border: 2px solid #fff;
  font: inherit;
  padding: 10px 15px;
  color: white;
  width: 250px;
  display: block;
  position: absolute;
  top: 0;
  background-image: url('../../../assets/search-icon.svg');
  background-repeat: no-repeat;
  background-position: center right 5px;
  background-size: 30px;
  top: -50px;
  outline: none;
  transition: all .3s ease-in-out;
}
.sources__search:focus {
  border-color: #30c5ff;
}
.source__item {
  background: none;
  border: 2px solid #30c5ff;
  font: inherit;
  line-height: 1;
  padding: 1em 2em;
  color: #70d6ff;
  transition: 0.25s;
  cursor: pointer;
  text-align: center;
}
.source__item:not(:last-child) {
  margin-bottom: 12px;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}
