*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    margin: 0;
    min-width: 320px;
}
.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
.main {
  flex-grow: 1;
}
.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}
.header {
  padding: 10px 30px;
}
.header__title {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.burger {
  display: none;
}
.footer {
  padding: 20px 0;
}
.footer__container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 30px;
}
.footer__container p {
  margin: 0;
}
.footer .copyright {
  font-size: 14px;
  color: #333;
  text-align: center;
}
.footer .copyright a {
    color: #444;
}
.footer .copyright a:hover {
    color: #555;
}
.footer .copyright:before {
    content: '©';
}
.footer__info {
  display: flex;
  gap: 20px;
  align-items: end;
}
.footer__info span {
  font-size: 24px;
}
.footer__link {
  font-size: 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  transition: all .3s ease-in-out;
}
.footer__link:hover {
  filter: brightness(0.6);
}
.footer__link:first-child {
  width: 50px;
  background-image: url('./assets/github.svg');
}
.footer__link:nth-child(2) {
  width: 134px;
  background-image: url('./assets/rs-logo.svg');
}
@media (max-width: 1600px) {
  .header {
    padding-left: 280px;
  }
}
@media (max-width: 1024px) {
  .header {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 730px;
    margin: 0 auto;
  }
  .burger {
    display: block;
    width: 45px;
    height: 30px;
    position: relative;
    cursor: pointer;
    transition: all .3s ease-in-out;
    z-index: 300;
  }
  .burger__line {
    height: 3px;
    position: absolute;
    width: 100%;
    background-color: #fff;
  }
  .burger__line:first-child {
    top: 0;
  }
  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .burger__line:last-child {
    bottom: 0;
  }
  .burger--active {
    opacity: 0;
  }
}
@media (max-width: 730px) {
  .header {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .burger {
    width: 35px;
    height: 25px;
  }
  .header__title {
    font-size: 32px;
  }
}
